/frontend/node_modules
*.log
.nvm
/frontend/package-lock.json
node_modules
package-lock.json
tarrant/gameshow/__pycache__/
tarrant/tarrant/__pycache__/
data/models/*
notes
.env
data/logs/*
leaderboard.csv
api_responses/
responses_saved/
